{
  "env": {
    "commonjs": true,
    "es6": true,
    "mocha": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-tag-spacing": "error",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "no-unused-vars": "warn",
    "react/display-name": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "off",
    "react/prop-types": 0,
    "react/jsx-key": "warn"
  },
  "extends": ["eslint:recommended", "prettier", "plugin:react/recommended"],
  "plugins": ["babel", "react", "react-hooks"]
}
