.logo-footer {
  width: 90px;
  height: 100%;
  margin-bottom: 30px;
  cursor: pointer;
  &__title {
    font-size: 35px;
    font-weight: bolder;
  }
}

.footer-item {
  font-size: 16px;
  color: #898f9a !important;
  padding-bottom: 15px;
}
