body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Nunito Sans Display Regular'),
    url('/assets/fonts/NunitoSans-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Nunito Sans Display Bold'),
    url('/assets/fonts/NunitoSans-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito Sans Display Extrabold'),
    url('/assets/fonts/NunitoSans-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 700;
  src: local('NotoSans Medium'),
    url('/assets/fonts/NunitoSans-Regular.woff') format('woff');
  font-display: swap;
}
