@media only screen and (max-width: 768px) {
  .carouselWrapped {
    .slick-prev {
      left: -30px;
      width: 24px;
      height: 24px;
      padding: 5px 5px 5px 3px;
    }

    .slick-next {
      right: -30px;
      width: 24px;
      height: 24px;
      padding: 5px 3px 5px 5px;
    }
  }
}
